<div data-controller="modal">
                <button data-action="modal#open" class="btn-outline">Details</button>
                  <dialog data-modal-target="modal">
                    <%= render "show", post: @post %>
                  </dialog>
              </div>


<div class="max-w-screen-lg mx-auto mt-8 rounded-md">
  <button type="button" data-action="modal#close" class="absolute top-4 right-4">X</button>
    <div class="w-full p-4 rounded-md">
      <img src="image.jpg" alt="image" class="w-full h-auto rounded-md">
      <h1 class="text-2xl font-bold mb-2">Développeur full-stack</h1>
      <p class="text-gray-600 mb-2"><i>Il y a 1 jour</i></p>
      <div class="mb-4">
        <p class="text-gray-700 mb-1"><strong>Company:</strong> Seven</p>
        <p class="text-gray-700 mb-1"><strong>Stack:</strong> Ruby</p>
        <p class="text-gray-700 mb-1"><strong>Contract_type:</strong> CDD</p>
        <p class="text-gray-700 mb-1"><strong>Url:</strong> .com</p>
        <p class="text-gray-700 mb-1"><strong>Experience years:</strong>6</p>
        <p class="text-gray-700 mb-1"><strong>Location:</strong> Paris</p>
      </div>
      <div class="text-gray-800">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum...Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quavLorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae qua</p>
      </div>
    </div>
  </div>
</div>
