<div class="bg-gray-100">
    <%= render partial: 'components/stats' %>
    <div class="h-24">
    </div>
    <div class="w-full">
        <div class="mx-16 flow-root rounded-3xl shadow-lg bg-white p-4">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full py-2 align-middle">
                    <table class="min-w-full divide-y divide-gray-300 " data-controller="tablepost-subscription" data-tablepost-subscription-user-id-value="<%= @user.id %>">
                        <thead>
                            <tr class="bg-gray-800">
                                <th scope="col" class="bg-white sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Title</th>
                                <th scope="col" class="bg-white sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Stack</th>
                                <%# <th scope="col" class="bg-gray-800 sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-white">Company</th> %>
                                <th scope="col" class="bg-white sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Location</th>
                                <th scope="col" class="bg-white sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Contract</th>
                                <th scope="col" class="bg-white sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Published</th>
                                <th scope="col" class="bg-white sticky top-0 px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Status</th>
                            </tr>
                        </thead>
                        <tbody data-tablepost-subscription-target="insert">
                          <% @posts.each do |post| %>
                            <%= render post %>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
